body
{
  background-color: #DDDDDD;
}
#mode_change_button
{
  position: fixed;
  right: 30px;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  border-color: #101060;
  background-color: white;
  color: #101060;
  outline: none;
  line-height: 30px;
  vertical-align: middle;
}
#mode_change_button_image
{
  width: 25px;
  height: 25px;
}
.main
{
  width: 80%;
  margin: 40px auto 0px;
}
.head
{
  padding: 20px;
  border: 1px #101060 solid;
  box-shadow: 5px 5px 10px #101060;
  background-color: white;
}
.title1 a
{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  font-family: Lucida Console;
  font-style: italic;
  color: #101060;
  text-shadow: 10px 10px 20px #101060;
}
.title2
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 宋体;
  color: black; 
}
#middle_nav
{
  padding: 10px;
  float: right;
  width: 30%;
  border: 1px #101060 solid;
  box-shadow: 5px 5px 10px #101060;
  background-color: white;
  margin-bottom: 30px;
}
.blog_host
{
  text-align: center;
}
.nav_avator img
{
  width: 100px;
  border: 2px #101060 solid;
}
.nav_ID
{
  font-family: Courier New;
  font-weight: bold;
}
.nav_list
{
  margin-top: 40px; 
  margin-left: 40px;
}
.list_icon
{
  width: 13px;
  height: 13px;
}
.nav_list
{
  height: 300px;
}
.nav_list div button
{
  border:none;
  outline:none;
  background-color: white;
  margin-bottom: 10px
}
.nav_list div button a
{
  text-decoration: none;
  color: #101060;
}
.nav_list div button
{
  color: #101060;
}
.friends img
{
  width: 13px;
  height: 13px;
}
#fp_friends_list
{
  margin-left: 30px;
}
#fp_friends_list a
{
  text-decoration: none;
  color: #101060;
}
.bottom
{
  background-color: white;
  border: 1px #101060 solid;
  box-shadow: 5px 5px 10px #101060;
  padding: 20px;
  clear: both;
  margin-top: 10px;
  text-align: center;
}
#copyright_user_a
{
  color: #606010;
}
#copyright_user
{
  font-family: Courier New;
}