body
{
  background: url("http://pic.yupoo.com/wjh15101051/422ed677/fed6cbc4.jpeg") repeat fixed;
  background-size: 100%;
  background-position: center center;
}
.main
{
  width: 80%;
  margin: 40px auto 0px;
}
.head
{
  padding: 20px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
}
.title1 a
{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  font-family: Lucida Console;
  font-style: italic;
  color: #FFFF00;
  text-shadow: 10px 10px 20px #FFFF00;
}
.title2
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 宋体;
  color: white; 
}
#middle_nav
{
  padding-top: 10px;
  float: right;
  width: 30%;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 30px;
  margin-top: 60px;
}
.blog_host
{
  text-align: center;
}
.nav_avator img
{
  width: 100px;
  border: 2px #FFFF00 solid;
}
.nav_ID
{
  font-family: Courier New;
  font-weight: bold;
}
.nav_list
{
  height: 300px;
  vertical-align: middle;
}
.list_icon
{
  width: 13px;
  height: 13px;
}
.nav_list li
{
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  padding-left: 40px;
  vertical-align: middle;
}
.nav_list li:hover
{
  border: 2px #DDDDDD solid;
  height: 26px;
  margin-left: 0px;
  padding-left: 38px;
  line-height: 26px;
}
.friends_text
{
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
  margin-bottom: 10px;
  color: white;
  display: block;
  font-size: 17px;
  padding-left: 0;
  text-align: left;
  width: 100%;
}
.friends:hover .friends_text
{
  margin-bottom: 12px;
}
.nav_list li a
{
  text-decoration: none;
  vertical-align: middle;
  color: white;
  display: block;
  font-size: 17px;
}
.friends img
{
  width: 13px;
  height: 13px;
}
.thispage
{
  border: 2px #FFFF00 solid;
  height: 26px;
  line-height: 26px;
  margin-left: 0px;
  padding-left: 0px;
}
#fp_friends_list
{
  margin-left: 30px;
  height: 30px;
  line-height: 30px;
}
#fp_friends_list a
{
  text-decoration: none;
  color: white;
}
.bottom
{
  background-color: rgba(0,0,0,0.5);
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  margin-top: 30px;
  padding: 20px;
  clear: both;
  margin-top: 10px;
  text-align: center;
  color: white;
}
.bottom_anime
{
  animation: bottom_anime 0.5s infinite;
  -ms-animation: bottom_anime 0.5s infinite; /* Internet Explorer */
  -moz-animation: bottom_anime 0.5s infinite; /* Firefox */
  -webkit-animation: bottom_anime 0.5s infinite; /* Safari and Chrome */
  -o-animation: bottom_anime 0.5s infinite; /* Opera */
}
@keyframes bottom_anime
{
  0%
  {
    transform:rotate(7deg);
    -ms-transform:rotate(7deg);   /* IE 9 */
    -moz-transform:rotate(7deg);  /* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg);  /* Opera */
  }
  25%
  {
    transform:rotate(-4deg);
    -ms-transform:rotate(-4deg);   /* IE 9 */
    -moz-transform:rotate(-4deg);  /* Firefox */
    -webkit-transform:rotate(-4deg); /* Safari 和 Chrome */
    -o-transform:rotate(-4deg);  /* Opera */
  }
  50%
  {
    transform:rotate(2deg);
    -ms-transform:rotate(2deg);   /* IE 9 */
    -moz-transform:rotate(2deg);  /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg);  /* Opera */
  }
  75%
  {
    transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);   /* IE 9 */
    -moz-transform:rotate(-5deg);  /* Firefox */
    -webkit-transform:rotate(-5deg); /* Safari 和 Chrome */
    -o-transform:rotate(-5deg);  /* Opera */
  }
  100%
  {
    transform:rotate(7deg);
    -ms-transform:rotate(7deg);   /* IE 9 */
    -moz-transform:rotate(7deg);  /* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg);  /* Opera */
  }
}
#copyright_user_a
{
  color: #606010;
}
#copyright_user
{
  font-family: Courier New;
}


/*以下是index*/


#middle_fp
{
  width: 65%;
  margin-top: 30px;
  float: left;
}
.blog_fp_display
{
  margin-top: 30px;
  float: left;
  width: 95%;
  padding: 15px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
}
.blog_fp_display_page_number
{
  margin-top: 30px;
  float: left;
  width: 95%;
  padding: 15px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  margin-bottom: 60px;

}
.blog_fp_display_IndexLink
{
  margin-top: 30px;
  float: left;
  width: 95%;
  padding: 15px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 60px;
}
.blog_fp_display_page_number a
{
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.blog_fp_display_page_number a:hover
{
  border-left: 20px;
  border-right: 20px;
  color: yellow;
  border-bottom: 1px yellow solid;
  text-decoration: none;
}
.blog_fp_display_page_number span
{
  color: white;
  font-size: 20px;
}
.blog_fp_display_title a
{
  font-family: 楷体;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.blog_fp_display_title a:hover
{
  color: yellow;
  transition: color 0.7s;
  -webkit-transition: color 0.7s;
  -moz-transition: color 0.7s;
  -o-transition: color 0.7s;
}
.blog_fp_display_title div
{
  color: white;
}
.blog_fp_display_date
{
  font-size: 10px;
  color: #aaaaaa;
}
.blog_fp_display_date img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_category
{
  font-size: 10px;
  color: #aaaaaa;
}
.blog_fp_display_category a
{
  font-size: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.blog_fp_display_category a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}
.blog_fp_display_category img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_skim
{
  margin: 10px;
  color: white;
}
.blog_fp_display_readmore
{
  text-align: right;
}
.blog_fp_display_readmore_button
{
  height: 25px;
  outline: none;
  border: 2px white solid;
  margin-right: 40px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}
.blog_fp_display_readmore_button:hover
{
  height: 25px;
  outline: none;
  border: 2px white solid;
  color: yellow;
  margin-right: 40px;
  background-color: rgba(0,0,0,0.5);
  background-color: #aaaaaa;
  transition: background-color 0.7s;
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  -o-transition: background-color 0.7s;
}


/*以下是tags*/


#middle_tags
{
  width: 65%;
  margin-top: 30px;
}
.blog_tags
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  min-height: 500px;
  color: white;
}
#tags_title
{
  font-size: 22px;
  font-family: Times New Roman;
  margin-bottom: 30px;
  color: white;
}
#tags_content a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
}
#tags_content a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}


/*以下是categories*/


#middle_categories
{
  width: 65%;
  margin-top: 30px;
}
.blog_categories
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  min-height: 500px;
}
#categories_title
{
  margin: 20px;
  font-size: 22px;
  font-family: Times New Roman;
  color: white;
}
.categories_content
{
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}
.categories_content a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.categories_content a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}


/*timeline*/


#middle_timeline
{
  width: 65%;
  margin-top: 30px;
  float: left;
}
.blog_timeline
{
  margin-top: 30px;
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  min-height: 500px;
}
#timeline_title
{
  font-size: 22px;
  font-family: Times New Roman;
  margin-bottom: 30px;
  text-align: center;
}
.timeline_content
{
  border: 1px grey solid;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
  margin-bottom: 30px;
}
.timeline_content:hover
{
  color: grey;
  background-color: rgba(0,0,0,1);
  transition: background-color 0.7s;
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  -o-transition: background-color 0.7s;
}
.timeline_content a
{
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 20px;
}
.timeline_content a:hover
{
  color: yellow;
  transition: color 0.7s;
  -webkit-transition: color 0.7s;
  -moz-transition: color 0.7s;
  -o-transition: color 0.7s;
  text-shadow: 10px 10px 0px rgba(255,255,0,0.2);
  transition: text-shadow 0.7s;
  -webkit-transition: text-shadow 0.7s;
  -moz-transition: text-shadow 0.7s;
  -o-transition: text-shadow 0.7s;
}
.timeline_date
{
  margin: 20px;
  font-weight: bold;
  color: #999999;
  font-size: 20px;
}
.blog_timeline_page_number
{
  margin-top: 30px;
  float: left;
  width: 95%;
  padding: 15px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  margin-bottom: 60px;
}
.blog_timeline_page_number a
{
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.blog_timeline_page_number a:hover
{
  border-left: 20px;
  border-right: 20px;
  color: yellow;
  border-bottom: 1px yellow solid;
  text-decoration: none;
}
.blog_timeline_page_number span
{
  color: white;
  font-size: 20px;
}


/*about*/


#middle_about
{
  width: 65%;
  margin-top: 30px;
  float: left;
}
.blog_about
{
  margin-top: 30px;
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  min-height: 500px;
  color: white;
}
#about_title
{
  font-size: 22px;
  font-family: Times New Roman;
  margin-bottom: 30px;
  text-align: center;
}
#about_content
{
  text-indent: 2em;
}
#mail
{
  color: white;
}


/*toolbox*/


#middle_toolbox
{
  width: 65%;
  margin-top: 30px;
  float: left;
}
.blog_toolbox
{
  margin-top: 30px;
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  min-height: 500px;
  color: white;
}


/*incate*/


#middle_incate
{
  width: 65%;
  margin-top: 30px;
}
.blog_incate
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  min-height: 500px;
  color: white;
}
#incate_title
{
  margin: 20px;
  font-size: 22px;
  font-family: Times New Roman;
}
.incate_content
{
  width: 95%;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-bottom: 1px white solid;
  margin-bottom: 20px;
}
.incate_content a
{
  color: white;
  text-decoration: none;
}
.incate_content a:hover
{
  color: grey;
}


/*intag*/


#middle_intag
{
  width: 65%;
  margin-top: 30px;
}
.blog_intag
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  min-height: 500px;
}
#intag_title
{
  margin: 20px;
  font-size: 22px;
  font-family: Times New Roman;
  color: white;
}
#intag_title a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
#intag_title a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}
.intag_content
{
  width: 95%;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-bottom: 1px white solid;
}
.intag_content a
{
  color: white;
  text-decoration: none;
}
.intag_content a:hover
{
  color: grey;
}


/*blogfile*/


#middle_blogfile
{
  width: 65%;
  margin-top: 30px;
  float: left;
}
.blog_blogfile
{
  margin-top: 30px;
  float: left;
  min-height: 300px;
  float: left;
  width: 95%;
  padding: 25px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.blogfile_title
{
  margin: 20px;
  font-size: 23px;
  font-family: 楷体;
  font-weight: bold;
  color: white;
}
.blogfile_stitle
{
  color: grey;
}
.blogfile_stitle img
{
  width: 13px;
  height: 13px;
}
.blogfile_stitle a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.blogfile_stitle a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}
.blogfile_content
{
  min-height: 500px;
}
.blogfile_showtag a
{
  text-decoration: none;
  color: white;
  border-bottom: 1px white solid;
}
.blogfile_showtag img
{
  width: 13px;
  height: 13px;
}
.blogfile_showtag a:hover
{
  text-decoration: none;
  color: grey;
  border-bottom: 1px grey solid;
}
.MarkdownParaCode
{
  font-family: Courier New;
  line-height: 13px;
}

.MarkdownParaPre
{
  width: 90%;
  overflow-x: scroll;
  border: 1px solid white;
  padding-left: 20px;
  margin-right: 20px;
}
.MarkdownImg
{
  width: 100%;
}
.MarkdownA
{
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.MarkdownBlockquote
{
  background-color: rgba(200,200,200,0.5);
  padding: 5px;
  border-left: 10px solid rgba(100,100,100,0.5);
}
.CodeCompileOperation
{
  color: rgba(100,200,100,1);
}
.CodeOperator
{
  color: rgba(153,204,0,1);
}
.CodeNumber
{
  color: rgba(255,205,34,1);
}
