body
{
  background-color: #040418;
}
#mode_change_button
{
  position: fixed;
  right: 30px;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  border-color: #FFFF00;
  background-color: white;
  color: #FFFF00;
  outline: none;
  line-height: 30px;
  vertical-align: middle;
}
#mode_change_button_image
{
  width: 25px;
  height: 25px;
}
.main
{
  width: 80%;
  margin: 40px auto 0px;
}
.head
{
  padding: 20px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #FFFF00;*/
  background-color: black;
}
.title1 a
{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  font-family: Lucida Console;
  font-style: italic;
  color: #FFFF00;
  text-shadow: 10px 10px 20px #FFFF00;
}
.title2
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 宋体;
  color: white; 
}
#middle_nav
{
  padding: 10px;
  float: right;
  width: 30%;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #FFFF00;*/
  background-color: black;
  margin-bottom: 30px;
}
.blog_host
{
  text-align: center;
}
.nav_avator img
{
  width: 100px;
  border: 2px #FFFF00 solid;
}
.nav_ID
{
  font-family: Courier New;
  font-weight: bold;
}
.nav_list
{
  margin-top: 40px; 
  margin-left: 40px;
}
.nav_list li
{
  list-style-type: none;
  height: 30px;
  line-height: 30px;
}
.nav_list li:hover
{
  border: 2px #DDDDDD solid;
}
.list_icon
{
  width: 13px;
  height: 13px;
}
.nav_list
{
  height: 300px;
}
.nav_list li button
{
  border:none;
  outline:none;
  background-color: black;
  margin-bottom: 10px
}
.nav_list li button a
{
  text-decoration: none;
  color: #FFFF00;
}
.nav_list li button
{
  color: #FFFF00;
}
.friends img
{
  width: 13px;
  height: 13px;
}
#fp_friends_list
{
  margin-left: 30px;
}
#fp_friends_list a
{
  text-decoration: none;
  color: #FFFF00;
}
.bottom
{
  background-color: black;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #FFFF00;*/
  padding: 20px;
  clear: both;
  margin-top: 10px;
  text-align: center;
}
.bottom
{
  color: #FFFF00;
}
#copyright_user_a
{
  color: #F01010;
}
#copyright_user
{
  font-family: Courier New;
}


/*以下是index*/


#middle_fp
{
  width: 65%;
  margin-top: 30px;
}
.blog_fp_display
{
  float: left;
  width: 95%;
  padding: 15px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #FFFF00;*/
  background-color: black;
}
.blog_fp_display_skim
{
  color: white;
}
.blog_fp_display_title a
{
  font-family: 楷体;
  font-size: 25px;
  font-weight: bold;
  color: #FFFF00;
  text-decoration: none;
}
.blog_fp_display_date
{
  font-size: 10px;
  color: #777777;
}
.blog_fp_display_date img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_category
{
  font-size: 10px;
  color: #777777;
}
.blog_fp_display_category a
{
  font-size: 10px;
  color: #FFFF00;
}
.blog_fp_display_category img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_skim
{
  margin: 10px;
}
.blog_fp_display_readmore
{
  text-align: right;
}
.blog_fp_display_readmore_button
{
  height: 25px;
  outline: none;
  border: 2px #FFFF00 solid;
  margin-right: 40px;
  background-color: black;
  color: white;
}