body
{
  background-color: black;
}
.main
{
  width: 80%;
  margin: 40px auto 0px;
}
.head
{
  padding: 20px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
}
.title1 a
{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  font-family: Lucida Console;
  font-style: italic;
  color: #FFFF00;
  text-shadow: 10px 10px 20px #FFFF00;
}
.title2
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 宋体;
  color: white; 
}
#middle_nav
{
  padding-top: 10px;
  float: right;
  width: 30%;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  margin-bottom: 30px;
}
.blog_host
{
  text-align: center;
}
.nav_avator img
{
  width: 100px;
  border: 2px #FFFF00 solid;
}
.nav_ID
{
  font-family: Courier New;
  font-weight: bold;
}
.nav_list
{
  height: 300px;
}
.list_icon
{
  width: 13px;
  height: 13px;
}
.nav_list li
{
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  padding-left: 40px;
}
.nav_list li:hover
{
  border: 2px #DDDDDD solid;
  margin-left: 0px;
  padding-left: 40px;
}
.nav_list li button
{
  border: none;
  outline: none;
  background-color: black;
  margin-bottom: 10px;
  color: white;
}
.nav_list li button a
{
  text-decoration: none;
  color: white;
}
.friends img
{
  width: 13px;
  height: 13px;
}
.thispage
{
  border: 2px #FFFF00 solid;
  margin-left: 0px;
  padding-left: 0px;
}
#fp_friends_list
{
  margin-left: 30px;
}
#fp_friends_list a
{
  text-decoration: none;
  color: white;
}
.bottom
{
  background-color: black;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  margin-top: 30px;
  padding: 20px;
  clear: both;
  margin-top: 10px;
  text-align: center;
}
#copyright_user_a
{
  color: #606010;
}
#copyright_user
{
  font-family: Courier New;
}
.bottom
{
  color: white;
}


/*以下是index*/


#middle_fp
{
  width: 65%;
  margin-top: 30px;
}
.blog_fp_display
{
  float: left;
  width: 95%;
  padding: 15px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
}
.blog_fp_display_title a
{
  font-family: 楷体;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.blog_fp_display_date
{
  font-size: 10px;
  color: #777777;
}
.blog_fp_display_date img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_category
{
  font-size: 10px;
  color: #777777;
}
.blog_fp_display_category a
{
  font-size: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.blog_fp_display_category a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}
.blog_fp_display_category img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_skim
{
  margin: 10px;
  color: white;
}
.blog_fp_display_readmore
{
  text-align: right;
}
.blog_fp_display_readmore_button
{
  height: 25px;
  outline: none;
  border: 2px white solid;
  margin-right: 40px;
  color: white;
  background-color: black;
}
.blog_fp_display_readmore_button:hover
{
  height: 25px;
  outline: none;
  border: 2px white solid;
  border-bottom: 5px white solid;
  margin-right: 40px;
  background-color: black;
}


/*以下是tags*/


#middle_tags
{
  width: 65%;
  margin-top: 30px;
}
.blog_tags
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  text-align: center;
  min-height: 500px;
  color: white;
}
#tags_title
{
  font-size: 22px;
  font-family: Times New Roman;
  margin-bottom: 30px;
  color: white;
}
#tags_content a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
#tags_content a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}


/*以下是categories*/


#middle_categories
{
  width: 65%;
  margin-top: 30px;
}
.blog_categories
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  min-height: 500px;
}
#categories_title
{
  margin: 20px;
  font-size: 22px;
  font-family: Times New Roman;
  color: white;
}
.categories_content
{
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}
.categories_content a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.categories_content a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}


/*timeline*/


#middle_timeline
{
  width: 65%;
  margin-top: 30px;
}
.blog_timeline
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  min-height: 500px;
}
#timeline_title
{
  font-size: 22px;
  font-family: Times New Roman;
  margin-bottom: 30px;
  text-align: center;
}
.timeline_content
{
  border: 1px grey solid;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  list-style-type: none;
}
.timeline_content:hover
{
  color: grey;
  height: 70px;
  line-height: 70px;
  padding-left: 30px;
  border: 2px grey solid;
}
.timeline_content a
{
  color: white;
  text-decoration: none;
}
.timeline_date
{
  margin: 20px;
  font-weight: bold;
  color: #999999;
  font-size: 20px;
}


/*about*/


#middle_about
{
  width: 65%;
  margin-top: 30px;
}
.blog_about
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  min-height: 500px;
  color: white;
}
#about_title
{
  font-size: 22px;
  font-family: Times New Roman;
  margin-bottom: 30px;
  text-align: center;
}
#about_content
{
  text-indent: 2em;
}
#mail
{
  color: white;
}


/*toolbox*/


#middle_toolbox
{
  width: 65%;
  margin-top: 30px;
}
.blog_toolbox
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  min-height: 500px;
  color: white;
}


/*incate*/


#middle_incate
{
  width: 65%;
  margin-top: 30px;
}
.blog_incate
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  min-height: 500px;
  color: white;
}
#incate_title
{
  margin: 20px;
  font-size: 22px;
  font-family: Times New Roman;
}
.incate_content
{
  width: 95%;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-bottom: 1px white solid;
}
.incate_content a
{
  color: white;
  text-decoration: none;
}
.incate_content a:hover
{
  color: grey;
}


/*intag*/


#middle_intag
{
  width: 65%;
  margin-top: 30px;
}
.blog_intag
{
  float: left;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  min-height: 500px;
}
#intag_title
{
  margin: 20px;
  font-size: 22px;
  font-family: Times New Roman;
  color: white;
}
#intag_title a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
#intag_title a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}
.intag_content
{
  width: 95%;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-bottom: 1px white solid;
}
.intag_content a
{
  color: white;
  text-decoration: none;
}
.intag_content a:hover
{
  color: grey;
}


/*blogfile*/


#middle_blogfile
{
  width: 65%;
  margin-top: 30px;
}
.blog_blogfile
{
  float: left;
  width: 95%;
  padding: 25px;
  margin-bottom: 30px;
  border: 1px #FFFF00 solid;
  /*box-shadow: 5px 5px 10px #101060;*/
  background-color: black;
  color: white;
}
.blogfile_title
{
  margin: 20px;
  font-size: 23px;
  font-family: 楷体;
  font-weight: bold;
  color: white;
}
.blogfile_stitle
{
  color: grey;
}
.blogfile_stitle img
{
  width: 13px;
  height: 13px;
}
.blogfile_stitle a
{
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
}
.blogfile_stitle a:hover
{
  color: grey;
  border-bottom: 1px grey solid;
}
.blogfile_content
{
  min-height: 500px;
}
.blogfile_showtag a
{
  text-decoration: none;
  color: white;
  border-bottom: 1px white solid;
}
.blogfile_showtag img
{
  width: 13px;
  height: 13px;
}
.blogfile_showtag a:hover
{
  text-decoration: none;
  color: grey;
  border-bottom: 1px grey solid;
}