#middle_fp
{
  width: 65%;
  margin-top: 30px;
}
.blog_fp_display
{
  float: left;
  width: 95%;
  padding: 15px;
  border: 1px #101060 solid;
  box-shadow: 5px 5px 10px #101060;
  background-color: white;
}
.blog_fp_display_title a
{
  font-family: 楷体;
  font-size: 25px;
  font-weight: bold;
  color: #101060;
  text-decoration: none;
}
.blog_fp_display_date
{
  font-size: 10px;
  color: #777777;
}
.blog_fp_display_date img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_category
{
  font-size: 10px;
  color: #777777;
}
.blog_fp_display_category a
{
  font-size: 10px;
  color: #101050;
}
.blog_fp_display_category img
{
  width: 13px;
  height: 13px;
}
.blog_fp_display_skim
{
  margin: 10px;
}
.blog_fp_display_readmore
{
  text-align: right;
}
.blog_fp_display_readmore_button
{
  height: 25px;
  outline: none;
  border: 2px #101060 solid;
  margin-right: 40px;
  background-color: white;
}