body{
  margin: 0px;
}
html
{
}
table
{
  width: 100%;
}
.whole
{
  background-color: rgba(0,0,0,0.7);
}
.navigator
{
  z-index: 1;
  background-color: #00008B;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
}
.navigator li
{
  list-style-type: none;
  height: 60px;
  line-height: 60px;
  width: 150px;
  text-align: center;
  font-family: 楷体;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}
.nav_lef
{
  float: left;
}
.nav_rig
{
  float: right;
}
.nav_a
{
  display: block;
  color: #006400;
  text-decoration: none;
  color: white;
}
.nav_a:hover
{
  background-color: #00BFFF;
  color: black;
  transition: background-color 0.7s;
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  -o-transition: background-color 0.7s;
}
#cur_page
{
  background-color: #00BFFF;
  color: black;
}
.main
{
  clear: both;
  margin: 60px;
  margin-top: 60px;
  padding-top: 80px;
  margin-bottom: 0px;
  padding: 15px;
  border: #8FBC8F 1px solid;
  color: white;
}
@keyframes logostart
{
  from
  {
    height: 500px;
    opacity: 1;
  }
  to
  {
    height: 220px;
    opacity: 0;
  }
}
.logostdiv
{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  animation: backstart 2s ease 1;
  animation-fill-mode: forwards;
  width: 100%;
}
.logost
{
  animation: logostart 2s ease 1;
  animation-fill-mode: forwards;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.logo img
{
  width: 80%;
}
.name
{
  margin-left: 30px;
  font-size: 40px;
  color: #D4F2E7;
  font-family: 'Georgia';
}
.intro
{
  margin-left: 60px;
  font-family: 'Times New Roman',华文中宋;
  font-size: large;
}
.intro a
{
  color: #1E90FF;
  text-decoration: none;
}
.brief_intro
{
  line-height: 30px;
}
.item
{
  color: #32CD32;
  font-weight: bold;
  font-family: 楷体;
  font-size: 20px;
}
.content
{
  margin-left: 30px;
  margin-right: 30px;
  min-height: 100%;
}
.file_content
{
  margin-left: 10px;
  margin-right: 10px;
  text-indent: 2em;
  margin-bottom: 7px;
  min-height: 100%;
}
.file_content a
{
  text-decoration: none;
  color: #1E90FF;
}
.file_content a:hover
{
  border-bottom: 1px #00BFFF solid;
  color: #00BFFF;
  transition: color 0.7s;
  -webkit-transition: color 0.7s;
  -moz-transition: color 0.7s;
  -o-transition: color 0.7s;
}
.content_block
{
  border: 2px #00BFFF solid;
  box-shadow: 7px 7px 10px #00BFFF;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 15px;
}
.foot
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 2px #00BFFF solid;
  color: white;
  text-align: center;
}
.inventer
{
  width: 130px;
}
.index_name
{
  display: inline;
  width: 100%;
  text-align: center;
  font-family: 仿宋;
  font-size: 100px;
  letter-spacing: 30px;
  color: white;
  position: fixed;
  top: 40%;
  left: 51%;
  transform: translate(-50%,-50%);
}
.index_button
{
  border: #00BFFF 1px solid;
  border-radius: 10px;
  position: fixed;
  height: 40px;
  width: 150px;
  line-height: 40px;
  text-align: center;
  list-style-type: none;
  background-color: #00BBFF;
}
.index_button:hover
{
  background-color: transparent;
  transition: background-color 0.7s;
}
.index_button1
{
  top: 55%;
  left: 15%;
}
.index_button2
{
  top: 75%;
  left: 32%;
}
.index_button3
{
  top: 75%;
  right: 32%;
}
.index_button4
{
  top: 55%;
  right: 15%;
}
.index_lia
{
  display: block;
  text-decoration: none;
  color: black;
  font-family: 仿宋;
  font-size: 20px;
  font-weight: bold;
}
.index_lia:hover
{
  color: white;
  transition: color 0.7s;
}
.dropdown1
{
  width: 150px;
  z-index: 1;
  top: 0;
  background-color: black;
  line-height: 40px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.language:hover .dropdown1
{
  z-index: 1;
  max-height: 200px;
  transition: max-height 0.5s ease-in;
}
.dropdown2
{
  width: 150px;
  z-index: 1;
  top: 0;
  background-color: black;
  line-height: 40px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.IDE:hover .dropdown2
{
  z-index: 1;
  max-height: 200px;
  transition: max-height 0.5s ease-in;
}
.dropdown3
{
  width: 150px;
  z-index: 1;
  top: 0;
  background-color: black;
  line-height: 40px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.editor:hover .dropdown3
{
  z-index: 1;
  max-height: 200px;
  transition: max-height 0.5s ease-in;
}
.dropdown_a
{
  margin: 5px;
  display: block;
  color: #00BFFF;
  text-decoration: none;
  border: grey 1px solid;
  border-radius: 2px;
  background-color: #333333;
  font-family: STLiti;
}
.dropdown_a:hover
{
  background-color: #00008B;
  transition: background-color 5s;
  color: white;
  transition: color 0.5s;
}
@keyframes lefteaseinAnimate1
{
  0%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  50%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  100%{ transform: translateX(0px); opacity: 1;z-index: 0;}
}
@keyframes lefteaseinAnimate2
{
  0%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  10%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  60%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  100%{ transform: translateX(0px); opacity: 1;z-index: 0;}
}
@keyframes lefteaseinAnimate3
{
  0%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  20%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  70%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  100%{ transform: translateX(0px); opacity: 1;z-index: 0;}
}
@keyframes lefteaseinAnimate4
{
  0%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  30%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  80%{ transform: translateX(-1000px); opacity: 0;z-index: 0;}
  100%{ transform: translateX(0px); opacity: 1;z-index: 0;}
}
@keyframes righteaseinAnimatename
{
  0%{ transform: translate(1000px,-50%); opacity: 0;z-index: 2;}
  100%{ transform: translate(-50%,-50%); opacity: 1;z-index: 2;}
}
@keyframes righteaseinAnimatecircle
{
  0%{ transform: translate(1000px,-50%); opacity: 0;z-index: 1;}
  100%{ transform: translate(-50%,-50%); opacity: 1;z-index: 1;}
}
.file_content_a
{
  width: 90%;
}
.list_name
{
  position: fixed;
  left: 30%;
  top: 50%;
  color: white;
  font-family: 仿宋;
  z-index: 2;
  font-size: 40px;
  font-weight: bold;
  transform: translate(-50%,-50%);
  animation: righteaseinAnimatename 2s ease 1;
  animation-fill-mode: forwards;
}
.circle
{
  position: fixed;
  left: 30%;
  top: 50%;
  background-color: #00BFFF;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  animation: righteaseinAnimatecircle 2s ease 1;
  animation-fill-mode: forwards;
}
.list_button
{
  position: fixed;
  list-style-type: none;
}
.list_logo
{
  z-index: 3;
  width: 80px;
}
.list_button1_1
{
  animation: lefteaseinAnimate1 2s ease 1; 
  animation-fill-mode: forwards;
  top: 15%;
  left: 60%;
}
.list_button1_2
{
  animation: lefteaseinAnimate2 2s ease 1; 
  animation-fill-mode: forwards;
  top: 30%;
  left: 70%;
}
.list_button1_3
{
  animation: lefteaseinAnimate3 2s ease 1; 
  animation-fill-mode: forwards;
  top: 60%;
  left: 70%;
}
.list_button1_4
{
  animation: lefteaseinAnimate4 2s ease 1; 
  animation-fill-mode: forwards;
  top: 75%;
  left: 60%;
}
.list_button2_1
{
  animation: lefteaseinAnimate1 2s ease 1; 
  animation-fill-mode: forwards;
  top: 22%;
  left: 60%;
}
.list_button2_2
{
  animation: lefteaseinAnimate2 2s ease 1; 
  animation-fill-mode: forwards;
  top: 70%;
  left: 60%;
}
.bubble_img
{
  opacity: 0;
  position: absolute;
  left: 110%;
  top: 15%;
  height: 60px;
  transform: translateX(100px);
  transition-property: transform,opacity;
  transition-duration: 1s;
  z-index: 0;
}
.bubble_text
{
  font-family: 'STLiti';
  opacity: 0;
  position: absolute;
  left: 150%;
  top: 30%;
  color: white;
  font-size: 22px;
  transform: translateX(100px);
  transition-property: transform,opacity;
  transition-duration: 1s;
  z-index: 0;
}
.list_button1_1:hover .bubble_img1_1
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button1_1:hover .bubble_text1_1
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button1_2:hover .bubble_img1_2
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button1_2:hover .bubble_text1_2
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button1_3:hover .bubble_img1_3
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button1_3:hover .bubble_text1_3
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button1_4:hover .bubble_img1_4
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button1_4:hover .bubble_text1_4
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button2_1:hover .bubble_img2_1
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button2_1:hover .bubble_text2_1
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button2_2:hover .bubble_img2_2
{
  opacity: 1;
  transform: translateX(0px);
}
.list_button2_2:hover .bubble_text2_2
{
  opacity: 1;
  transform: translateX(0px);
}
#cvs
{
  width: 100%;
  height: 100%;
}